<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>math</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>ua.uipa.math.web.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <error-page>
    <exception-type>java.lang.Trowable</exception-type>
    <location>/WEB-INF/page/error.html</location>
  </error-page>
  <error-page>
    <exception-type>404</exception-type>
    <location>/WEB-INF/page/error.html</location>
  </error-page>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>content</servlet-name>
    <servlet-class>ua.uipa.math.web.ContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>content</servlet-name>
    <url-pattern>/content</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsServlet</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.news.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/news</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsItemServlet</display-name>
    <servlet-name>NewsItemServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.news.NewsItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsItemServlet</servlet-name>
    <url-pattern>/news_item</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LangServlet</display-name>
    <servlet-name>LangServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.LangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LangServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EntrantServlet</display-name>
    <servlet-name>EntrantServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.entrants.send.EntrantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EntrantServlet</servlet-name>
    <url-pattern>/entrants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.contacts.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/contacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.students.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/students</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HistoryServlet</display-name>
    <servlet-name>HistoryServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.departm.HistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/history</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffServlet</display-name>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.departm.staff.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/staff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfServlet</display-name>
    <servlet-name>ConfServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.science.conf.ConfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfServlet</servlet-name>
    <url-pattern>/conference</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfItemServlet</display-name>
    <servlet-name>ConfItemServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.science.conf.ConfItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfItemServlet</servlet-name>
    <url-pattern>/conf_item</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishingServlet</display-name>
    <servlet-name>PublishingServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.science.PublishingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishingServlet</servlet-name>
    <url-pattern>/publishings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentServlet</display-name>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.departm.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/department</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScienceServlet</display-name>
    <servlet-name>ScienceServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.science.ScienceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScienceServlet</servlet-name>
    <url-pattern>/science</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.departm.staff.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeLangServlet</display-name>
    <servlet-name>ChangeLangServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.ChangeLangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeLangServlet</servlet-name>
    <url-pattern>/change</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendServlet</display-name>
    <servlet-name>SendServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.entrants.send.SendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendServlet</servlet-name>
    <url-pattern>/send</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.entrants.send.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpecialityServlet</display-name>
    <servlet-name>SpecialityServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.entrants.SpecialityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecialityServlet</servlet-name>
    <url-pattern>/entrants_speciality</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RuleServlet</display-name>
    <servlet-name>RuleServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.entrants.RuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RuleServlet</servlet-name>
    <url-pattern>/entrants_rules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProgramServlet</display-name>
    <servlet-name>ProgramServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.entrants.ProgramServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgramServlet</servlet-name>
    <url-pattern>/entrants_program</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DocServlet</display-name>
    <servlet-name>DocServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.entrants.DocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocServlet</servlet-name>
    <url-pattern>/entrants_docs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamServlet</display-name>
    <servlet-name>ExamServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.entrants.ExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamServlet</servlet-name>
    <url-pattern>/entrants_exams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeeServlet</display-name>
    <servlet-name>FeeServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.entrants.FeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeServlet</servlet-name>
    <url-pattern>/entrants_fee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuidanceServlet</display-name>
    <servlet-name>GuidanceServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.departm.GuidanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuidanceServlet</servlet-name>
    <url-pattern>/guidance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostgradSpecialityServlet</display-name>
    <servlet-name>PostgradSpecialityServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.postgrad.SpecialityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostgradSpecialityServlet</servlet-name>
    <url-pattern>/postgrad_speciality</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostgradRuleServlet</display-name>
    <servlet-name>PostgradRuleServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.postgrad.RuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostgradRuleServlet</servlet-name>
    <url-pattern>/postgrad_rules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostgradExamServlet</display-name>
    <servlet-name>PostgradExamServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.postgrad.ExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostgradExamServlet</servlet-name>
    <url-pattern>/postgrad_exams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostgradDocServlet</display-name>
    <servlet-name>PostgradDocServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.postgrad.DocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostgradDocServlet</servlet-name>
    <url-pattern>/postgrad_docs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CenterServlet</display-name>
    <servlet-name>CenterServlet</servlet-name>
    <servlet-class>ua.uipa.math.web.servlet.science.CenterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenterServlet</servlet-name>
    <url-pattern>/center</url-pattern>
  </servlet-mapping>
</web-app>